.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: #EAEAEA;
  height: 50px;
}

.location-icon {
  color: #353535;
}

.location-text {
  font-family: "Roboto";
}

.back-arrow {
  position: absolute;
  padding-left: 22px;
}

.back-arrow i {
  color: #353535;
}

.reservation {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f6f6f6;
}

.reservation-title {
  font-size: 24px;
  font-weight: 700;
  padding: 40px 50px 10px 50px;
}

.reservation-text {
  font-size: 18px;
  font-weight: 300;
}

.reservation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  margin-top: 27px;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  border: none;
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .reservation-title {
    font-size: 40px;
  }
}
.operation {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  padding: 48px 20px 60px 20px;
  gap: 30px;
}

.operation-reactangle-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.operation-rectangle {
  display: flex;
  align-items: center;
  gap: 24px;
  background: #f6f6f6;
  padding: 30px;
  margin: 0 10px 0 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.operation-rectangle-round {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -40px;
}

.operation-rectangle-round p {
  display: flex;
  color: white;
  font-size: 15px;
}

.operation-rectangle_icon {
  color: grey;
}

.operation-rectangle_icon_purple {
  color: #9356DC;
}

@media screen and (min-width: 768px) {
  .operation-title {
    font-size: 34px;
  }
  .operation-reactangle-container {
    display: flex;
    flex-direction: row;
  }
  .operation-rectangle {
    width: calc(30% - 10px);
  }
}
@media screen and (min-width: 1024px) {
  .operation {
    padding: 50px 200px;
  }
}
.restaurant {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  background: #f6f6f6;
  padding: 60px 0 70px 0px;
  gap: 18px;
}

.restaurant_title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 20px;
}

.card_restaurant-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card_restaurant {
  border-radius: 15px;
  background: white;
  margin: 0 18px 0 17px;
  position: relative;
}

.card_restaurant a {
  text-decoration: none;
  color: black;
}

.restaurant-new {
  display: flex;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 14px;
  color: #008766;
  font-size: 14px;
}

.card_restaurant-img {
  display: flex;
  height: 231px;
  width: 100%;
}

.card_restaurant-img img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_restaurant-text {
  display: flex;
  flex-direction: column;
  margin: 16px 10px 12px 14px;
  gap: 2px;
  position: relative;
}

.card_restaurant-text-icon {
  display: flex;
  position: absolute;
  right: 24px;
  top: 16px;
}

@media screen and (min-width: 768px) {
  .restaurant_title {
    font-size: 34px;
  }
  .card_restaurant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card_restaurant {
    width: calc(50% - 47px);
  }
  .restaurant-new {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant {
    padding: 30px 180px;
  }
  .card_restaurant-container {
    gap: 50px 100px;
  }
  .card_restaurant {
    width: calc(50% - 100px);
  }
  .restaurant-new {
    right: 10px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background-color: #353535;
  color: white;
  font-family: "Roboto";
}

.footer-logo {
  margin-bottom: 16px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-text-icon {
  margin-right: 10px;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.restaurant-img img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-page-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  margin-top: -60px;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
}

.restaurant-title {
  display: flex;
  font-family: "Shrikhand";
  padding-top: 20px;
  align-items: center;
  gap: 24px;
}

.restaurant-title h1 {
  font-size: 28px;
  font-weight: 400;
}

.dish {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Roboto";
}

.dish h2 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
}

.line {
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
  margin-top: -5px;
}

.food {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

.food-name {
  font-size: 18px;
  font-weight: 800;
}

.food-name_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.price {
  font-weight: 700;
}

.choice-animation {
  display: flex;
  right: 0;
  width: 50px;
  background: #99E2D0;
}

.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  border-radius: 25px;
  width: 186px;
  height: 50px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 24px;
}

.order-btn a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .restaurant-page-container {
    margin: -40px 50px 0 50px;
  }
  .restaurant-title {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant-page-container {
    max-width: 1055px;
    margin: -40px auto 0 auto;
  }
}
.btn-animation:hover {
  background: linear-gradient(to bottom, rgb(255, 121, 218) 0%, rgb(170, 100, 255) 100%);
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.like-animation:active {
  background: rgb(255, 121, 218);
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
}

* {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=main.css.map */